/** COLORS **/
// primary
$primary-color: rgba(44, 44, 84, 1.0);
$primary-color-transparent: rgba(44, 44, 84, 0.5);

// secondary
$secondary-color: rgba(33, 140, 116, 1.0);
$secondary-transparent: rgba(33, 140, 116, 0.5);

// typography color
$primary-typography-color: #373d3f;